{% extends 'base.jinja' %}


{% block content %}
<style>
    .button {
        background-color: #b0abd2; 
        border: none;
        color: #1b1b1b;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        position: fixed;
        bottom: 16px;
        right: 12px;
        border-radius: 4px;
    }
    
    .button:hover {
        background-color: #9d83fa;
    }

    .article {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        padding-left: 10px;
    }

    .article {
        padding-top: 5px;
        
    }
    
    .popup .article_box {
        visibility: hidden;
        width: 160px;
        background-color: #b0abd2;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        }
    
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-top: 30px;
    }

    .popup .show {
        visibility: visible;
    }

    .content-box {
        width: 300px;
        height: 50px; 
    }

</style>



<ul id="articles" style="padding:20px;margin-top:30px;">
<h1>Articles</h1>
<br/>
{% if articles %}
    {% for article in articles %}
    <li id="article" class="article">
        <h2 class="title">{{ article.title }}</h2>
        {{ article.author.username }} <br/>
        <small> <b>{{ article.author.account }}</b>
        {% if article.author.account == 'staff' %}
            {{ article.author.staff_role }}
        {% endif %}
        </small> <br/>
        <small> {{ article.date }}  </small><br/><br/>
        {{ article.content }} <br/><br/>
        <!-- enable button if staff -->
        {% if account == "staff" or (article.author.username == username and can_post) %}
            <button class="delete" onclick="delete('{{ article.id }}')">Delete</button>
            <button onclick="edit('{{ article.id }}')">Edit</button>
            <button onclick="comment('{{ article.id }}')">Comment</button>
        {% else %}
            <button type="button" disabled>Delete</button>
            <button type="button" disabled>Edit</button>
            <button onclick="comment('{{ article.id }}')">Comment</button>
        {% endif %}
    </li>

    {% endfor %}
{% else %}
<li>
    No articles posted yet
</li> 
{% endif %}

</ul>

<div class="popup" id="popup">
    <div class="article_box" id="article_box">
        <h1>Edit Article</h1>
            <p>Title:</p>
                <input id="title" width="300px" />
            <p>Content:</p>
                <input id="content" class="content-box"/>
    </div>

    <button class="button" onclick="re_post(article)">Re-post</button>
</div>

<a href={{ url_for('new_article') }}>
    <button class="button" >New Article</button>
</a>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>

    const socket = io();
    // Add event listeners to the delete buttons
    var deleteButtons = document.getElementsByClassName('delete');
    for (var i = 0; i < deleteButtons.length; i++) {
        deleteButtons[i].addEventListener('click', function(event) {
            var article = event.target.parentNode; // The 'li' element to remove
            removeListItem(article);
        });
    }

    // Function to remove an item from the list
    function removeListItem(item) {
        // The parent node ('ul') of the item to be removed ('li')
        var list = document.getElementById('articles');
        list.removeChild(item);
    }


    function delete(article_id) {
        socket.emit("delete_article", article_id, (success) => {
            if (typeof success == "string") {
                alert(success);
            }
        });

        
    }

    function delete_article(article_id) {
        let liElements = document.querySelectorAll("#articles li");
        // Loop through each <li> element
        liElements.forEach(function (li) {
            // Find the <div> element inside the <li>

            var div = li.querySelector("." + senderName);
            console.log(div)
            if (div) {
                // Remove the <div> element from its parent node (the <li>)
                div.parentNode.removeChild(div);
                console.log("removed")
            }
        });
    }

    
    

    //popup to edit post
    function edit(article) {
        popup = $("#article_box").val();

        document.getElementById("title").value = article.title;
        document.getElementById("content").value = article.content;

        popup.classList.toggle("show");
    }

    //update post
    function re_post(article) {
        console.log("works");
        
        let title = $("#title").val();
        let content = $("#content").val();

        socket.emit("re_post", article, title, content, (success) => {
            console.log(success)
            //successful post
            
            if (success) {
                //upate list dynamically
                index = articles.findIndex(obj => obj.id == success.id);
                articles[index] = success;
                console.log("New:" articles[index]);
                popup = document.getElementById("success");
            }
            else {
                popup = document.getElementById("fail"); 
            }

            console.log(popup);

            popup.classList.toggle("show");
         });
        

        console.log(success);
        
    
        
    }
</script>

{% endblock %}

