{% extends 'base.jinja' %}


{% block content %}
<style>
    .button {
        background-color: #b0abd2; 
        border: none;
        color: #1b1b1b;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        position: fixed;
        bottom: 16px;
        right: 12px;
        border-radius: 4px;
    }
    
    .button:hover {
        background-color: #9d83fa;
    }
    
</style>

<div style="padding:20px;margin-top:30px;">
<h1>Articles</h1>
<br/>

{% if articles %}
    {% for article in articles %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ article.title }}</h2><br/>
        <small>{{ article.date }} {{ article.author.username }} </small><br/><br/>
        
        {{ article.content }} <br/><br/>
    </div>
    {% endfor %}
{% else %} 
    No articles posted yet
{% endif %}

</div>

<a href="#newarticle">
    <button class="button">New Article</button>
</a>


<script>

    function new_article() {
        
    }



</script>


{% endblock %}

