<!-- 
All pages inherit from this page, this is the "base" page. 
Think of Java inheritance, but for web pages, eww... 

Contains script tags that tells the browser where to locate the JQuery scripts.
This code is pretty gross since everything is imported globally, if you're familiar with Python
this is equivalent to a bunch of glob imports -> import * from jquery. 

Yeah I know it's pretty ugly...
-->
<!DOCTYPE html>
<html>
    <head>
        <title>HTML :)</title> 
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
        <style>
        
        /* nav bar tabs */   
        ul.navbar {
            list-style-type: none;
            position: fixed;
            top: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            }

        /* nav bar display */   
        ul.navbar li {
            display: inline-block;
        }

        ul.navbar li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* change tab colour when mouse hovers */
        ul.navbar li a:hover:not(.active) {
            background-color: #111;
        }

        ul.navbar a.active {
            background-color: #c767ff;
        }

        ul.navbar li.right {float: right;}

        /* change navbar to be stacked for smaller screen sizes */
        @media screen and (max-width: 600px) {
            ul.navbar li.right, 
            ul.navbar li {display:none;}
            }

    </style>
    </head>
    <body>
        <!-- The content from any other page goes here -->
    <!--Navbar code / links-->
    <ul class = "navbar">
        <li><a href="#home">Home</a></li>
        <li><a href="#requests">Requests</a></li>
        <li><a href="#messages">Messages</a></li>
        <li><a href="#archive">Article archive</a></li>
        <li><a href="#profile">Profile</a></li> 
        <li class="right"><a class="active" href="#signout">Sign Out</a></li>
    </ul>

        {% block content %} 
        {% endblock %}
    </body>
</html>