{% extends 'base.jinja' %}


{% block content %}
<style>
    .content-box {
        width: 300px;
        height: 50px;
    }

    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-top: 30px;
        }

    .button {
        background-color: #b0abd2; 
        border: none;
        color: #1b1b1b;
        padding: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        position: static;
        bottom: 16px;
        right: 12px;
        border-radius: 4px;
    }
    
    .button:hover {
        background-color: #9d83fa;
    }

    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        
    }

    .popup .show {
        visibility: visible;
        }

</style>

<ul class = "navbar">
    <li><a href="{{ url_for('articles', username=username) }}">Home</a></li>
    <li><a href=" {{ url_for('home', username=username) }}">Messages</a></li>
    <li><a href="{{ url_for('new_article') }}">New Article</a></li>
    {% if account == "staff" %}
        <li><a href="{{ url_for('users') }}">User permissions</a></li> 
    {% endif %}
    <li class="right"><a class="active" href="{{ url_for('logout')}}">Sign Out</a></li>
</ul>

<div class="article_box" style="padding:20px;margin-top:50px;">
    <h1>Create a new article</h1>
    
    <form id="article">
        <p>Title:</p>
            <input id="title" type="text" name="title" width="500px" />
        <p>Content:</p>
            <input id="content" type="text" name="content" class="content-box"/>
        <p>Upload attachment:</p>
            <input id="file" type="file" name="file"/>
        <br/>
        <br/>
        <br/>
        <button class="button" type="submit">Post</button>
    </form>
</div>

<div class="popup">    
    <span class="popuptext" id="fail">Article failed to post!</span>
</div>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>
    const article = document.getElementById("article");
    let url = '{{ url_for("upload") }}';
    
    article.addEventListener("submit", async function(e) {
        e.preventDefault();

        const formData = new FormData(article);
        console.log([...formData]);

        try {
            const res = await axios.post(url, formData)    
            //console.log(res);
            console.log("success");   
            if (res.data == "Fail") {
                alert("Failed to upload article");
                location.reload();
            }
            else {
                window.open(res.data, "_self")
            }
        }
        catch(e) {
            console.log(e);
            alert("Failed to upload article");
            location.reload();
        }

    });

        

</script>

{% endblock %}