{% extends 'base.jinja' %}


{% block content %}

<style>
    /* nav bar tabs */   
    .navbar {
        list-style-type: none;
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }

    .logo {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    }

    .navbar_tabs {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        height: 80px;        /* if you want it to take the full height of the bar */
        line-height: 80px;    /* if you want it vertically middle of the navbar */
    }

    /* nav bar display */   
    .navbar_tabs li {
        float: left;
    }

    .navbar_tabs li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* change tab colour when mouse hovers */
    .navbar_tabs li a:hover:not(.active) {
        background-color: #111;
        }
        
    /* change navbar to be stacked for smaller screen sizes */
    @media screen and (max-width: 600px) {
        .navbar_tabs li.right, 
        .navbar_tabs li {float:none;}
        }

</style>

<ul class = "navbar">
    <li><a href="{{ url_for('articles', username=username) }}">Home</a></li>
    <li><a href=" {{ url_for('home', username=username) }}">Messages</a></li>
    <li><a href="{{ url_for('new_article') }}">New Article</a></li>
    {% if account == "staff" %}
        <li><a href="{{ url_for('users') }}">User permissions</a></li> 
    {% endif %}
    <li class="right"><a class="active" href="{{ url_for('logout')}}">Sign Out</a></li>
</ul>

<h1>User permissions</h1>
<ul id="posting" style="padding:20px;margin-top:30px;list-style-type:none;">
<h2>Posting articles:</h2>
<br/>
<h3>Authorised users:</h3>
{% if users %}
    {% for user in users %}
        {% if user.can_post %}
            <li id="user_post" class="post">
                <h4>Name: {{user.username}} </h4>
                {% if user.account == "staff" %}
                <h5>Account type: <b> {{user.account}} </b> {{user.role}} </h5>
                {% else %}
                <h5>Account type: <b> {{user.account}} </h5>
                <button id="mute_post" onclick="mute_post( '{{ user.username }}' )">Mute user</button>
            </li>
        {% else %}
<h3>Muted users:</h3>
            <li id="cant_post" class="cant_post">
                <h4>Name: {{user.username}} </h4>
                {% if user.account == "staff" %}
                <h5>Account type: <b> {{user.account}} </b> {{user.role}} </h5>
                {% else %}
                <h5>Account type: <b> {{user.account}} </h5>
                {% endif %}
                <button id="unmute_post" onclick="unmute_post( '{{ user.username }}' )">Unmute user</button>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    <div>No users exist</div>
{% endif %}
</ul>

<ul id="chatting" style="padding:20px;margin-top:30px;list-style-type:none;">
<h2>Joining chatrooms:</h2>
<br/>
<h3>Authorised users:</h3>
{% if users %}
    {% for user in users %}
        {% if user.can_chat %}
            <li id="can_chat" class="can_chat">
                <h4>Name: {{user.username}} </h4>
                {% if user.account == "staff" %}
                    <h5>Account type: <b> {{user.account}} </b> {{user.role}} </h5>
                {% else %}
                    <h5>Account type: <b> {{user.account}} </h5>
                {% endif %}
                <button id="mute_chat" onclick="mute_chat(this, '{{ user.username }}' )">Mute user</button>
            </li>
<h3>Muted users:</h3>
        {% else %}
            <li id="cant_chat" class="cant_chat">
                <h4>Name: {{user.username}} </h4>
                {% if user.account == "staff" %}
                    <h5>Account type: <b> {{user.account}} </b> {{user.role}} </h5>
                {% else %}
                    <h5>Account type: <b> {{user.account}} </h5>
                {% endif %}
                <button id="unmute_chat" onclick="unmute_chat( '{{ user.username }}' )">Unmute user</button>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    <div>No users exist</div>
{% endif %}
</ul>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>

    function mute_chat(liElem, username) {
        socket.emit("mute", username, "chat", (res) => {
            if (res) {
                //dynamically remove from list
                var li_item = liElem.parentNode;
                var li = li_item.parentNode;
                li.removeChild(li_item);

                //append to list
                var new_li = document.getElementById("cant_chat");
                new_li.append(li_item);
            }
            else {
                alert("Failed to mute user");
            }
        })
    }


    function mute_post(username) {
        socket.emit("mute", username, "post", (res) => {
            if (res) {
                //dynamically remove from list
                var li_item = liElem.parentNode;
                var li = li_item.parentNode;
                li.removeChild(li_item);

                //append to list
                var new_li = document.getElementById("cant_post");
                new_li.append(li_item);
            }
            else {
                alert("Failed to mute user");
            }
        })
    }

    function unmute_chat(username) {
        socket.emit("unmute", username, "chat" (res) => {
            if (res) {
                //dynamically remove from list
                var li_item = liElem.parentNode;
                var li = li_item.parentNode;
                li.removeChild(li_item);

                //append to list
                var new_li = document.getElementById("can_chat");
                new_li.append(li_item);
            }
            else {
                alert("Failed to mute user");
            }
            
        })
    }

    function unmute_post(username) {
        socket.emit("unmute", username, "post" (res) => {
            if (res) {
                //dynamically remove from list
                var li_item = liElem.parentNode;
                var li = li_item.parentNode;
                li.removeChild(li_item);

                //append to list
                var new_li = document.getElementById("can_chat");
                new_li.append(li_item);
            }
            else {
                alert("Failed to mute user");
            }
            
        })
    }
</script>

{% endblock %}