{% extends 'base.jinja' %}


{% block content %}

<style>
    /* nav bar tabs */   
    .navbar {
        list-style-type: none;
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }

    .logo {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        margin-top: 15px;    /* if you want it vertically middle of the navbar. */
    }

    .navbar_tabs {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        height: 80px;        /* if you want it to take the full height of the bar */
        line-height: 80px;    /* if you want it vertically middle of the navbar */
    }

    /* nav bar display */   
    .navbar_tabs li {
        float: left;
    }

    .navbar_tabs li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* change tab colour when mouse hovers */
    .navbar_tabs li a:hover:not(.active) {
        background-color: #111;
        }
        
    /* change navbar to be stacked for smaller screen sizes */
    @media screen and (max-width: 600px) {
        .navbar_tabs li.right, 
        .navbar_tabs li {float:none;}
        }

</style>

 

{% endblock %}